@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: serif;
  margin-left: 1em;
  margin-top: 1em;
}

label { 
  margin-right: 1em;
}

.main {
  font-weight: bold;
}

input[type="checkbox"] {
  margin-right: 0.5em;
}

div,button {
  margin-top: 0.5em;
}

.error {
  color: red;
}

.thanks {
  color: green;
  margin-left: 1em;
}