@import url('https://fonts.googleapis.com/css?family=JetBrains+Mono&display=swap');
@tailwind components;
@tailwind utilities;


:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

input, input::placeholder, body, button { /* Chrome, Firefox, Opera, Safari 10.1+ */
  font-family: 'JetBrains Mono', serif;
}


body {
  color: var(--foreground);
  background: var(--background);
  margin-left: 1em;
  margin-top: 1em;
}

label { 
  margin-right: 1em;
}

.main {
  font-weight: bold;
}

input[type="checkbox"] {
  margin-right: 0.5em;
}

div.form {
  margin-top: 1em;
}

div.domain {
  margin-top: 0.5em;
}

div.subfield {
  margin-top: 0.25em;
}

button {
  margin-top: 1em;
  font-size: 1em;
}

.error, .thanks {
  padding-left: 1em;
}

.error {
  color: red;
}

.thanks {
  color: green;
}

.description {
  font-size: 0.8em;
  font-weight: normal;
  font-style: italic;
  margin: none;
}

